@font-face {
  font-family: "Archivo-black";
  src: url("fonts/ArchivoBlack-Regular.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Archivo-reg";
  src: url("fonts/Archivo-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Archivo-bold";
  src: url("fonts/Archivo-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Archivo-reg";
}

body {
  height: 100vh;
}

.main-page {
  height: 100%;
  display: grid;
  grid:
    "header" auto
    "books-container" 1fr / 1fr;
}

.header {
  color: white;
  grid-area: header;
  min-height: 120px;
  background-color: rgb(82, 58, 27);
  box-shadow: 0 5px 20px rgb(0, 0, 0);

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: "Archivo-black";
  font-size: 3rem;
}

.books-container {
  position: relative;
  grid-area: books-container;
  padding: 50px;

  display: grid;
  grid: auto-flow 350px / repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.book-card {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
  padding: 15px;
  border-radius: 25px;
  transition: transform 0.2s ease;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.book-card:hover {
  transform: scale(1.05);
}

.img-container {
  flex: 1;
  overflow: hidden;
  border-radius: 25px;
}

.img-container > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.book-info {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-title {
  font-family: "Archivo-black";

  line-clamp: 2;
  display: -webkit-box;

  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  overflow: hidden;
}

.author,
.pages {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-info > p > span:last-child {
  font-family: "Archivo-bold";
}

.card-btns {
  display: flex;
  justify-content: flex-end;
}

.card-btns > button {
  border-radius: 10px;
}

.card-btns > button:hover {
  background-color: rgb(209, 209, 209);
}

.delete-btn {
  fill: red;
  background-color: white;
  border: none;
}

.card-btns > button > svg {
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: middle;
}

.add-books-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 3rem;
  font-family: "Archivo-black";
  color: rgb(175, 175, 175);
  text-align: center;
}

.add-book-btn {
  position: fixed;
  right: 40px;
  bottom: 40px;

  background-color: white;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.459);
  transition:
    background-color 0.1s ease,
    fill 0.1s ease,
    transform 0.1s ease;
}

.add-book-btn:hover {
  background-color: rgb(122, 87, 40);
  fill: white;
}

.add-book-btn:active {
  transform: scale(0.9);
}

.add-book-btn > svg {
  width: 4.5rem;
  height: 4.5rem;
  vertical-align: middle;
}

.book-form-modal {
  margin: auto;
  width: max(300px, 20%);
  height: 500px;
  border: none;
  border-radius: 25px;
  padding: 50px;
}

.close-btn > svg {
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: middle;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 10px;
  border: none;
  padding: 5px;
}

.book-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group-inline {
  flex-direction: row;
  justify-content: center;
}

.form-group > input {
  padding: 10px;
  border: none;
  background-color: rgb(224, 224, 224);
  border-radius: 10px;
}

.book-form-title {
  font-family: "Archivo-black";
  margin-bottom: auto;
}

.submit-btn {
  font-family: "Archivo-bold";
  font-size: 1rem;
  margin-top: auto;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(0, 255, 55);
  transition:
    background-color 0.1s ease,
    transform 0.1s ease;
}
.submit-btn:hover {
  background-color: rgb(0, 218, 47);
}
.submit-btn:active {
  transform: scale(0.9);
}

.close-btn:hover {
  background-color: rgb(209, 209, 209);
}
